{% extends "app/public/base.html" %}

{% load compressed %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="action-form-box">
	{% include "app/parts/facebook_signin.html" %}
	{% if is_verified %}
	<ul>
		<li>
			<h2>Sign In</h2>
		</li>
		<li>
			<form method="post" action="{% url 'app_send_verification' user.id %}">
				{% csrf_token %}
				<p class="message">
					Your account is not verified yet!, please click <a href="#" onclick="javascript:$(this).parent('form').submit();return false;">here</a> to re-send verification code.
				</p>
			</form>
		</li>
	</ul>
	{% else %}
	<form method="post" action="">
		{% csrf_token %}
		<ul>
			<li>
				<h2>Sign In</h2>
			</li>
			{% if error %}
			<li>
				<p class="error_message">
					{{ error|safe }}
				</p>
			</li>
			{% endif %}
			<li>
				<input id="id_username" name="username" type="text" value="{{ username }}" placeholder="Username..."/>
			</li>
			<li>
				<input id="id_password" name="password" type="password" placeholder="Password..."/>
			</li>
			<li>
				<input type="submit" value="Login">
			</li>
			<li class="link">
				<a href="/signup/">Create My Account</a> | <a href="{% url 'app_forgot_password' %}">Forgot your password?</a>
			</li>
		</ul>
	</form>
	{% endif %}
</div>
{% endblock %}
