{% extends "app/public/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<form action="" method="post" class="action-form-box">
	{% csrf_token %}
	<ul>
		{% if validlink %}
		<li>
			<h2>Enter new password</h2>
		</li>
		<li>
			<p>
				Please enter your new password twice so we can verify you typed it in correctly.
			</p>
		</li>
		<li>
			<label for="id_new_password1">New password:</label>
		</li>
		<li>
			{{ form.new_password1 }}
			{{ form.new_password1.errors }}
		</li>
		<li>
			<label for="id_new_password2">Confirm password:</label>
		</li>
		<li>
			{{ form.new_password2 }}
			{{ form.new_password2.errors }}
		</li>
		<li>
			<input type="submit" value="Change my password"/>
		</li>
		{% else %}
		<li>
			<h2> Password reset unsuccessful</h2>
		</li>
		<li>
			The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
		</li>
		{% endif %}
	</ul>
</form>
{% endblock %}
