{% extends "app/public/base.html" %}

{% block title %}Sign Up{% endblock %}


{% block content %}
<div class="action-form-box">
	{% include "app/parts/facebook_signin.html" %}
	<form action="/signup/" method="post">
		{% csrf_token %}
		<ul>
			<li>
				<h2>Sign Up</h2>
			</li>
			{% if successful_signup %}
			<li>
				<p class="message">
					Thank you for signing up on <a href="{% url 'app_home' %}">CodeHunkit</a>, you will receive an account activation email shortly.
				</p>
			</li>
			{% else %}
			{% if error %}
			<li>
				<p class="error_message">
					{{ error|safe }}
				</p>
			</li>
			{% elif form.errors %}
			<li>
				<p class="error_message">
					Please correct following error{{ form.errors|pluralize }} below.
				</p>
			</li>
			{% else %}
			<li>
				<p>
					<b>Join</b> us for free and be a part of CodeHunkit!
				</p>
			</li>
			{% endif %}
			
			<li>
				{{ form.username }}
				{{ form.username.errors }}
			</li>
			<li>
				{{ form.email }}
				{{ form.email.errors }}
			</li>
			<li>			
				{{ form.password }}
				{{ form.password.errors }}
			</li>
			<li class="h-list">
				{{ form.gender }}
				{{ form.gender.errors }}
			</li>
			<li>
				<input type="submit" value="Join"/>
			</li>
			<li class="link">
				or&nbsp;&nbsp;<a href="{% url 'app_login' %}">Login</a>
			</li>
			{% endif %}
		</ul>

	</form>
</div>
{% endblock %}
