<div class="message-box markdown policies" style="padding: 10px 20px;">	
	<h3 class="warm-text">This content has been blocked as it doesn't adhere to our policies.</h3>
	<h3> Policies </h3>
	<div style="margin-top: 10px;">		
		<ul>
			<li>
				<h4>Be concise and clear</h4>
				<p>
					Content should be plain, direct, known and specific rather than general. Emphasize on direct &amp; concise writing rather than using unnecessary words.
				</p>
			</li>
			<li>
				<h4>Be Ethical</h4>
				<p>
					Content should be made under ethical and moral values. Avoid unethical and abusive content and comments.
				</p>
			</li>
		</ul>
	</div>
</div>