{% load gravatar %}

<div id="menu">
	<div id="profile-settings">
		<span class="menu-icon"></span>
		<div class="context-menu" context-menu="#profile-settings">
			<span class="arrow"></span>
			<h4>Settings</h4>
			<ul>
				<li>
					<a href="{{ app_user.get_absolute_url }}">Profile</a>
				</li>
				<li>
					<a href="{% gravatar_profile_url app_user %}" title="Change or create your gravatar profile on gravatar.com">My Gravatar</a>
				</li>
				<li>
					<form action="{% url 'app_facebook_login' %}" method="post">
						{% csrf_token %}
						<a href="#" onclick="javascript:$(this).parent('form').submit(); return false;" title="Connect your Facebook account with CodeHunkit user">Connect with Facebook</a>
					</form>
				</li>			
				<li>
					<a href="{% url 'app_change_password' %}" title="Set your new password">Change password</a>
				</li>
				<li>
					<a href="{% url 'app_logout' %}" title="Logout">Logout</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="profile-messages">
		<form data-ajax-url="" method="post" data-ajax="true">
			{% csrf_token %}
			<input type="hidden" name="message_id" value="{{ last_message_id }}"/>
			<span class="menu-icon" style="position: relative;"  {% if new_messages %}onclick="javascript:$('.jewel-count', this).hide(); $(this).parent('form').submit();"{% endif %}> {% if new_messages %} <span class="jewel-count">{{ new_messages }}</span> {% endif %} </span>
		</form>
		<div class="context-menu" context-menu="#profile-messages">
			<span class="arrow"></span>
			{% include "app/parts/notifications.html" %}
		</div>
	</div>
	<div id="new-snippet">		
		<a href="{% url 'app_create_snippet' %}" class="menu-icon" title="Submit a new code snippet">Submit</a>
	</div>
</div>