{% load utils %}

<div class="snippets-view">
	<div>
		<div class="snippets-title-bar"></div>
		<ul class="snippets">
			{% for snippet in snippets %}
			<li id="snippet-id-{{ snippet.id }}" class="snippet">
				<div class="votes-box">
					<form data-ajax-url="{% url 'app_snippet_vote' %}" method="post" data-ajax="true" data-ajax-complete="update_vote">
						{% csrf_token %}
						<input type="hidden" name="snippet_id" value="{{ snippet.id }}"/>
						<input type="hidden" name="action" value="up"/>
						<a onclick="javascript:$(this).parent('form').submit();" class="up-vote {% ifequal snippet.vote_index 1 %}up-vote-on{% endifequal %}" title="Vote-UP if this snippet is useful.">&#9650;</a>
					</form>
					<div class="votes" itemprop="votes">
						{{ snippet.votes }}
					</div>
					<form data-ajax-url="{% url 'app_snippet_vote' %}" method="post" data-ajax="true" data-ajax-complete="update_vote">
						{% csrf_token %}
						<input type="hidden" name="snippet_id" value="{{ snippet.id }}"/>
						<input type="hidden" name="action" value="down"/>
						<a onclick="javascript:$(this).parent('form').submit();" class="down-vote {% ifequal snippet.vote_index -1 %}down-vote-on{% endifequal %}" title="Vote-DOWN if this snippet not useful.">&#9660;</a>
					</form>
					<div class="snippet-content">
						<div class="snippet-description">
							<a href="{{ snippet.get_absolute_url }}"><h3 style="display: inline;">{{ snippet.description }}</h3></a>
						</div>
						<div class="snippet-created">
							{{ snippet.created_on|when:now }} ago by <a rel="author" href="{% url 'app_user' snippet.username %}" data-card="user:{{ snippet.username }}">{{ snippet.username }}</a>
						</div>
					</div>
					<div class="snippet-shares">	
						<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:twitter" data-content="{{ post.title }}" style="margin-left: 0px;">Twitter</a>
						<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:facebook" style="margin-left: 24px;">Facebook</a>
						<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:googleplus"  style="margin-left: 48px;">Google+</a>
					</div>					
					<ul class="tags">
						<li>
							<a href="{% url 'app_lang' snippet.lang_slug %}">{{ snippet.lang_name }}</a>
						</li>
						{% for tag in snippet.tags_list %}
						<li>
							<a href="{% url 'app_tag' tag %}">{{ tag }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</li>
			{% empty %}
			<li>
				<p class="message">
					{{ no_snippets|default:"There are no snippets to show right now." }}
				</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>