{% extends "app/skeleton.html" %}

{% load compressed %}
{% load gravatar %}

{% block styles %}
{% compressed_css 'base' %}
{% endblock %}

{% block body-content %}
<div id="container">
	{% block header %}
	<div id="page-bar">
		{% block page-bar-content %}
		<a id="logo" href="{% url 'app_home' %}"><h1>Codehunkit</h1></a>
		{% include "app/parts/bar_search.html" %}
		{% if app_user.is_authenticated %}
		{% include "app/parts/profile_menu.html" %}
		{% else %}
		{% include "app/parts/login_menu.html" %}
		{% endif %}
		{% endblock %}
	</div>
	{% endblock %}
	<div id="content">
		{% include "app/parts/flash_messages.html" %}
		{% block content %}{% endblock %}
	</div>
	{% block footer %}
	<footer>
		<div class="copyright">
			<a href="{% url 'app_home' %}" class="statement">Codehunkit &copy; 2014</a>
		</div>
		{% include "app/parts/languages.html" %}		
	</footer>
	{% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{% compressed_js 'base' %}
{% endblock %}
