{% extends "app/social_base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<form method="post" class="action-form-box">
	{% csrf_token %}
	<ul>
		<li>
			<h2>Change Password</h2>
		</li>
		{% if successfully_changed %}
		<li>
			<p class="message">
				Your password has been updated.
			</p>
		</li>
		{% else %}
		<li>
			<p>
				To change your password, enter your current password and choose a new one.
			</p>
		</li>
		{% if error %}
		<li>
			<p class="error_message">
				{{ error|safe }}
			</p>
		</li>
		{% endif %}		
		<li>
			{{ form.current_password }}
			{{ form.current_password.errors }}
		</li>
		<li>
			{{ form.password }}
			{{ form.password.errors }}
		</li>
		<li>
			{{ form.confirm_password }}
			{{ form.confirm_password.errors }}
		</li>
		<li>
			<input type="submit" value="Update">
		</li>
		{% endif %}
	</ul>
</form>
{% endblock %}
