{% extends "app/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<form method="post" class="action-form action-form-center" style="width:400px">
	{% csrf_token %}
	<ul>
		<li>
			<h2>Change Password</h2>			
		</li>		
		{% if successfully_changed %}
		<li class="message">
			Your password has been updated.
		</li>
		{% else %}
		<li>
			To change your password, enter your current password and choose a new one.
		</li>
		{% if error %}
		<li class="error_message">
			{{ error|safe }}
		</li>
		{% endif %}
		<li>
			{{ form.current_password.errors }} <label for="id_current_password">Current Password:</label>
            {{ form.current_password }}
		</li>
		<li>
			{{ form.password.errors }} <label for="id_password">New Password:</label>
            {{ form.password }}
		</li>
		<li>
			{{ form.confirm_password.errors }} <label for="id_confirm_password">Confirm Password:</label>
            {{ form.confirm_password }}
		</li>
		<li>
			<input type="submit" value="Update">
		</li>
		{% endif %}
	</ul>
</form>
{% endblock %} 
