{% extends "app/snippets_base.html" %}

{% load gravatar %}

{% block profile-content %}
{% if app_user.is_anonymous %}
<form action="{% url 'app_login' %}" method="post" class="action-form side-login">
	{% csrf_token %}
	<ul>
		<li>
			<h2>Sign In</h2>
		</li>
		<li>
			<input type="text" name="username" placeholder="Username..."/>
		</li>
		<li>
			<input type="password" name="password" placeholder="Password..."/>
		</li>
		<li>
			<input type="submit" value="Login"/>
		</li>
	</ul>
</form>
{% endif %}
<div class="profile-card">
	<h3>Recent Users</h3>
	{% for user in recent_sign_ups %}
	{% with graph=user.graph %}
	<div style="overflow: hidden;margin-bottom: 20px; border-bottom: 1px dotted #eee;">
		<img src="{% gravatar_url user 80 %}" alt="{{ user.username }} profile picture" class="profile-pic" />
		<div>
			<a href="{{ user.get_absolute_url }}" style="overflow: hidden">{{ user.username }}</a>
		</div>
		<div>
			<span style="font-size: 1.5em;">{{ graph.snippets_count }}</span> snippet{{ graph.snippets_count|pluralize }}
		</div>
		<div>
			<span style="font-size: 1.5em;">{{ graph.comments_count }}</span> comment{{ graph.comments_count|pluralize }}
		</div>
	</div>
	{% endwith %}
	{% endfor %}
</div>
{% endblock %}

{% block title-content %}
<ul>
	<li {% if active == 'top' %}class="active"{% endif %}>
		<a href="{% url 'app_home' %}">Top</a>
	</li>
	<li {% if active == 'new' %}class="active"{% endif %}>
		<a href="{% url 'app_home_new' %}">New</a>
	</li>
	<li>
		All
	</li>
</ul>
{% endblock %}
