{% extends "app/snippets_base.html" %}

{% block profile-content %}
{% if app_user.is_anonymous %}
<form action="{% url 'app_login' %}" method="post" class="action-form">
	{% csrf_token %}
	<ul>
		<li>
			<h2>Sign In</h2>
		</li>
		<li>
			<input type="text" name="username" placeholder="Username..."/>
		</li>
		<li>
			<input type="password" name="password" placeholder="Password..."/>
		</li>
		<li>
			<input type="submit" value="Login"/>
		</li>
	</ul>
</form>
{% endif %}
{% endblock %}

{% block title-content %}
<ul>
	<li {% if active == 'top' %}class="active"{% endif %}>
		<a href="{% url 'app_home' %}">Top</a>
	</li>
	<li {% if active == 'new' %}class="active"{% endif %}>
		<a href="{% url 'app_home_new' %}">New</a>
	</li>
	<li>
		All
	</li>
</ul>
{% endblock %}
