{% load compressed %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
	<head>
		<meta name="application-name" content="Codehunkit"/>
		<meta name="application-url" content="http://www.codehunkit.com?shortcut=true"/>
		<meta name="copyright" content="Codehunkit &copy; 2014"/>
		<meta name="author" content="Codehunkit, hi@codehunkit.com">
		{% block description %}<meta name="description" content=""/>{% endblock %}
		<meta name="Language" content="English">
		<meta property="og:site_name" content="Codehunkit"/>
		<meta property="fb:admins" content="537113478,100000484342670" />		
		<meta name="robots" content="noodp,noydir" />
		{% block robots_meta %}{% endblock %}
		{% block meta_head %}
		<meta property="og:title" content="Codehunkit: the best pieces of codes"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.codehunkit.com">
		<meta property="og:image" content="http://www.codehunkit.com{{ STATIC_URL }}app/img/codehunkit-icon.png"/>
		<meta property="og:description" content="{% block og_description %}{% endblock %}"/>
		{% endblock %}
		<title>{% block title %}Codehunkit: the best pieces of codes{% endblock %}</title>
		<link rel="icon shortcut" href="{{ STATIC_URL }}app/img/codehunkit-icon.png" type="image/png" sizes="128x128"/>
		{% block head %}
		{% endblock %}
		{% block styles %}
		{% compressed_css 'style' %}
		{% endblock %}
	</head>
	<body>
		{% block body-content %}
		{% endblock %}		
		{% block scripts %}{% endblock %}		
		{% if not debug and not app_user.is_admin %}
		{% compressed_js 'stats' %}
		{% endif %}
	</body>
</html>
