{% load compressed %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
	<head>
	    <meta name="msvalidate.01" content="44345B977FC544DD66636E2B6917F9F2" />
		<meta name="application-name" content="Codehunkit"/>
		<meta name="application-url" content="http://codehunkit.rootplugin.com?shortcut=true"/>
		<meta name="copyright" content="Codehunkit &copy; 2014"/>
		{% block description %}<meta name="description" content="Best pieces of code sharing community of programmers and hackers/hunkies"/>{% endblock %}
		<meta name="Language" content="English">
		<meta property="og:site_name" content="Codehunkit"/>
		<meta property="fb:admins" content="537113478,100000484342670" />
		<meta name="robots" content="noodp,noydir" />
		{% block robots_meta %}{% endblock %}
		{% block meta_head %}
		<meta property="og:title" content="Codehunkit: the best pieces of code"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="http://www.codehunkit.rootplugin.com"/>
		<meta property="og:image" content="http://codehunkit.rootplugin.com{{ STATIC_URL }}app/img/codehunkit-icon.png"/>
		<meta property="og:description" content="{% block og_description %}Best pieces of codes shared with community of programmers and hackers/hunkies{% endblock %}"/>
		<meta name="author" content="Codehunkit"/>
		{% endblock %}
		<title>{% block title %}Codehunkit: the best pieces of code{% endblock %}</title>
		<link rel="icon shortcut" href="{{ STATIC_URL }}app/img/codehunkit-icon.png" type="image/png" sizes="128x128"/>
		{% block head %}
		{% endblock %}
		{% block styles %}
		{% compressed_css 'style' %}
		{% endblock %}
	</head>
	<body>
		{% block body-content %}
		{% endblock %}
		{% block scripts %}{% endblock %}
		{% if not debug and not app_user.is_admin %}
		{% compressed_js 'stats' %}
		{% endif %}
	</body>
</html>
