{% extends "app/social_base.html" %}

{% load utils %}

{% block title %}{{ snippet.gist }}{% endblock %}

{% block content %}
<div class="profile-bar">
	<div class="profile-card">
		<div>
			<div id="snippet-votes-box-id-{{ snippet.id }}" class="votes-box">
				<form data-ajax-url="{% url 'app_snippet_vote_up' snippet.id %}" method="post" data-ajax="true" data-ajax-complete="vote_update">
					{% csrf_token %}
					<a onclick="javascript:$(this).parent('form').submit();" class="up-vote {% ifequal snippet.vote_index 1 %}on{% endifequal %}" title="This code is awesome.">&#9650;</a>
				</form>
				<div class="votes" itemprop="votes">
					{{ snippet.votes }}
				</div>
				<form data-ajax-url="{% url 'app_snippet_vote_down' snippet.id %}" method="post" data-ajax="true" data-ajax-complete="vote_update">
					{% csrf_token %}
					<a onclick="javascript:$(this).parent('form').submit();" class="down-vote {% ifequal snippet.vote_index -1 %}on{% endifequal %}" title="This is average code.">&#9660;</a>
				</form>
			</div>
			<div style="float: left; margin: 0px;">
				<div style="margin:0px;">
					created on {{ snippet.created_on|date:"N d, Y" }}
				</div>
				<div style="margin-top: 5px;">
					Posted by <a rel="author" href="{% url 'app_user' snippet.username %}" data-card="user:{{ snippet.username }}">{{ snippet.username }}</a>
				</div>
			</div>
		</div>
		<div class="likes-dislikes">
			<span class="likes"><span>{{ snippet.up_votes }}</span> up vote{{ snippet.up_votes|pluralize }}</span> &nbsp;|&nbsp; <span class="dislikes"><span>{{ snippet.down_votes }}</span> down vote{{ snippet.down_votes|pluralize }}</span>
		</div>
		<div>
			<a href="{% url 'app_lang' snippet.lang_slug %}" class="lang">{{ snippet.lang_name }}</a>
		</div>
		<ul class="tags">
			{% for tag in snippet.tags_list %}
			<li>
				<a href="{% url 'app_tag' tag %}">{{ tag }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="content-view code-view">
	<div class="snippet">
		<div class="snippet-content">
			<div class="snippet-gist">
				<h2>{{ snippet.gist }}</h2>
			</div>
			<div class="snippet-shares">
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:twitter" data-content="{{ post.title }}" style="margin-left: 0px;">Twitter</a>
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:facebook" style="margin-left: 24px;">Facebook</a>
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:googleplus"  style="margin-left: 48px;">Google+</a>
			</div>
		</div>
	</div>
	<div class="snippet-code-container">
		<div class="snippet-code">
			<div class="line-number">
				{% for line in snippet.code|lines %}
				<span>{{ forloop.counter }}</span>
				{% endfor %}
			</div>
			<pre class="prettyprint" style="border:0px;"><code>{{ snippet.code }}</code></pre>
		</div>
	</div>
	<div class="comments">
		<div>{{ snippet.comments_count }} comment{{ snippet.comments_count|pluralize }}</div>
		{% if comment_id %}
		<a href="{{ snippet.get_absolute_url }}" class="view-all-comments">view all user's comments</a>
		{% endif %}
		{% if not comment_id  %}
		{% if app_user.is_authenticated %}
		<form action="{% url 'app_comment_create' snippet.id %}" method="post" class="comment-reply" style="display: block;" data-ajax="true" data-ajax-url="{% url 'app_comment_create' snippet.id %}" data-ajax-update="#snippet-comments-id-{{ snippet.id }}" data-ajax-mode="before" data-ajax-loading="#loading-snippet-id-{{ snippet.id }}" data-ajax-success="$('#comment-input-for-snippet-id-{{ snippet.id }}').val('');">
			{% csrf_token %}
			<textarea id="comment-input-for-snippet-id-{{ snippet.id }}" name="comment_text" maxlength="1000" placeholder="Write a comment...">{{ comment_text|safe }}</textarea>
			<br/>
			<div id="loading-snippet-id-{{ snippet.id }}" class="progress-img"></div>
			<input type="submit" value="Save"/>
		</form>
		{% else %}
		<p class="action-form" style="margin: 5px 0px; padding: 5px;">
			<a href="{% url 'app_login' %}">login</a> or <a href="{% url 'app_sign_up' %}">sign up</a> to comment
		</p>
		{% endif %}
		{% endif %}
		<div id="snippet-comments-id-{{ snippet.id }}" style="clear:both;">
			{% with template_name="app/parts/comment.html" %}
			{% for comment in snippet.comments %}
			{% include template_name %}
			{% endfor %}
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
{{ block.super }}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{% endblock %}
