{% extends "app/social_base.html" %}

{% load utils %}

{% block title %}{{ snippet.gist }}{% endblock %}

{% block content %}
<div class="profile-bar">
	<div class="profile-card">
		<div>
			<div class="votes-box">
				<form data-ajax-url="{% url 'app_snippet_vote' %}" method="post" data-ajax="true" data-ajax-complete="update_vote">
					{% csrf_token %}
					<input type="hidden" name="snippet_id" value="{{ snippet.id }}"/>
					<input type="hidden" name="action" value="up"/>
					<a onclick="javascript:$(this).parent('form').submit();" class="up-vote {% ifequal snippet.vote_index 1 %}up-vote-on{% endifequal %}" title="This code is awesome.">&#9650;</a>
				</form>
				<div class="votes" itemprop="votes">
					{{ snippet.votes }}
				</div>
				<form data-ajax-url="{% url 'app_snippet_vote' %}" method="post" data-ajax="true" data-ajax-complete="update_vote">
					{% csrf_token %}
					<input type="hidden" name="snippet_id" value="{{ snippet.id }}"/>
					<input type="hidden" name="action" value="down"/>
					<a onclick="javascript:$(this).parent('form').submit();" class="down-vote {% ifequal snippet.vote_index -1 %}down-vote-on{% endifequal %}" title="This is average code.">&#9660;</a>
				</form>
			</div>
			<div style="float: left; margin: 0px;">
				<p style="">
					created on {{ snippet.created_on|date:"N d, Y" }}
				</p>
				<p>
					Posted by <a rel="author" href="{% url 'app_user' snippet.username %}" data-card="user:{{ snippet.username }}">{{ snippet.username }}</a>
				</p>
			</div>
		</div>
		<div>
			<span >{{ snippet.up_votes }}</span> up vote{{ snippet.up_votes|pluralize }}&nbsp;|&nbsp; <span>{{ snippet.down_votes }}</span> down vote{{ snippet.down_votes|pluralize }}
		</div>
		<div>
			Language: <a href="{% url 'app_lang' snippet.lang_slug %}" class="lang">{{ snippet.lang_name }}</a>
		</div>
		<ul class="tags">
			{% for tag in snippet.tags_list %}
			<li>
				<a href="{% url 'app_tag' tag %}">{{ tag }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="content-view">
	<div id="snippet-id-{{ snippet.id }}" class="snippet">
		<div class="snippet-content">
			<div class="snippet-gist">
				<h2><a href="{{ snippet.get_absolute_url }}">{{ snippet.gist }}</a></h2>
			</div>
			<div class="snippet-shares">
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:twitter" data-content="{{ post.title }}" style="margin-left: 0px;">Twitter</a>
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:facebook" style="margin-left: 24px;">Facebook</a>
				<a href="http://codehunkit.com{{ snippet.get_short_url }}" rel="nofollow" data-action="share:googleplus"  style="margin-left: 48px;">Google+</a>
			</div>
		</div>
	</div>
	<div class="snippet-code-container">

		<div class="snippet-code">
			<div class="line-number">
				{% for line in snippet.code|lines %}
				<span>{{ forloop.counter }}</span>
				{% endfor %}
			</div>
			<pre><code>{{ snippet.code }}</code></pre>
		</div>

	</div>
</div>
{% endblock %}
