{% extends "app/base.html" %}

{% load markup2 %}
{% load gravatar %}
{% load compressed %}

{% block styles %}
{% compressed_css 'social' %}
{% endblock %}

{% block body-content %}
<div class="social-base">
	<div id="page-bar">		
		{% block page-bar-content %}
		{% include "app/parts/bar_search.html" %}
		{% if app_user.is_authenticated %}
		{% include "app/parts/profile_menu.html" %}
		{% else %}
		{% include "app/parts/login_menu.html" %}
		{% endif %}
		{% endblock %}
	</div>
	<div class="social-bar">
		<div class="inner">
			<div id="scroll-div">
				{% if hunkit_user.is_authenticated %}
				<div style="border-bottom: 1px solid rgba(0,0,0,0.2);">
					<a href="{{ app_user.get_absolute_url }}" style="display: block;padding: 10px 5px 10px 15px;" title="{{ app_user.username }}"> <img src="{% gravatar_url app_user 32 %}" width="32px" height="32px"/><span>{{ app_user.username }}</span></a>
				</div>
				{% endif %}
				<ul id="subs-list">
					{% if app_user.is_authenticated %}
					<li class="user-info">
						<a href="{{ app_user.get_absolute_url }}" title="{{ app_user.username }}"> <img src="{% gravatar_url app_user 32 %}"/> <span>{{ app_user.username }}</span></a>
					</li>
					{% endif %}					
					<li>
						<h3 title="Genius guys you follow">Hunk{{ hunkies|pluralize:"y,ies" }}</h3>
						<ul>
							{% for user in hunkies %}
							<li filter-value="{{ user.username }}">
								<a href="{{ user.get_absolute_url }}" title="{{ user.username }}"> <img src="{% gravatar_url user 32 %}"/> <span>{{ user.username }}</span></a>
							</li>
							{% empty %}
							<li>
								<h4 title="Genius guys who publish there codes...">Follow some hunkies.</h4>
							</li>
							{% endfor %}
						</ul>
					</li>					
					<li>						
						<h3>Language{{ langs|pluralize }}</h3>
						<ul>
							{% for lang in langs %}
							<li filter-value="{{ lang.name }}">
								<a href="{{ lang.get_absolute_url }}" title="{% firstof lang.description lang.name %}">{{ lang.name }}</a>
							</li>
							{% empty %}
							<li>
								<h4>Follow some languages.</h4>
							</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<div class="filter">
				<input type="text" value="" id="filter-input" placeholder="Search..."/>
			</div>
		</div>
	</div>
	{{ block.super }}
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compressed_js 'social_base' %}
<script type="text/javascript">
	$(function() {
		$('#scroll-div').slimScroll({
			height : '100%',
			size : '10px'
		});
	});

	$('#filter-input').keyup(function() {
		var $inputFilter = $(this);
		if ($inputFilter.val() == '') {
			$('#subs-list li[filter-value]').fadeIn('fast');
		} else {
			$('#subs-list li[filter-value]').each(function() {
				if ($(this).attr('filter-value').toLowerCase().indexOf($inputFilter.val().toLowerCase()) == 0)
					$(this).show('fast');
				else
					$(this).fadeOut('fast');
			});
		}
	}); 
</script>
{% endblock %}
