{% extends "app/base.html" %}

{% load future %}
{% load markup2 %}
{% load gravatar %}
{% load compressed %}

{% block styles %}
{% compressed_css 'social' %}
{% endblock %}

{% block content %}
<div>
	<ul id="subs-list">
		<li id="langs">
			<h3>Language{{ langs|pluralize }}</h3>
			<div class="context-menu" context-menu="#langs">
				<span class="arrow"></span>
				<h4>Language{{ langs|pluralize }}</h4>
				<ul>
					{% for lang in langs %}
					<li>
						<a href="{{ lang.get_absolute_url }}" title="{% firstof lang.description lang.name %}">{{ lang.name }}</a>
					</li>
					{% empty %}
					<li>
						<h4>Follow some languages.</h4>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% if app_user.is_authenticated %}
		<li id="hunkies">
			<h3 title="Genius guys you follow">Hunk{{ hunkies|pluralize:"y,ies" }}</h3>
			<div context-menu="#hunkies" class="context-menu">
				<span class="arrow"></span>
				<h4>Hunk{{ hunkies|pluralize:"y,ies" }}</h4>
				<ul>
					{% for user in hunkies %}
					<li>
						<a href="{{ user.get_absolute_url }}" title="{{ user.username }}"> <img src="{% gravatar_url user 32 %}"/> <span>{{ user.username }}</span></a>
					</li>
					{% empty %}
					<li>
						<h4 title="Genius guys who publish there best pieces of codes..." style="background: white;">Follow some hunkies.</h4>
					</li>
					{% endfor %}
				</ul>
			</div>
		</li>
		{% endif %}
	</ul>
</div>
{% block social-content %}
{% endblock %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compressed_js 'social_base' %}
<script type="text/javascript">
	$('#langs li').each(function() {
		$('.lang-color', this).css('background', stringToColor($('.lang-name', this).text().trim()));
	}); 
</script>
{% endblock %}
