{% extends "app/snippets_base.html" %}

{% load gravatar %}

{% block title %}{{ user.username }} code snippets{% endblock %}

{% block meta_head %}
<meta property="og:type" content="profile"/>
<meta property="profile:username" content="{{ user.username }}"/>
<meta property="og:title" content="{{ user.username }} | Codehunkit"/>
<meta property="og:url" content="http://www.codehunkit.com{{ user.get_absolute_url }}"/>
<meta property="og:image" content="{% gravatar_url user 256 %}"/>
<meta property="og:description" content="Codehunkit member since {{ user.created_on|date:"N d, Y" }}"/>
<meta property="twitter:url" content="http://www.codehunkit.com{{ user.get_absolute_url }}"/>
{% endblock %}

{% block profile-content %}
{% with graph=user.graph %}
<div class="profile-card">
	<h3>User</h3>
	<div style="overflow: hidden;">
		<img src="{% gravatar_url user 80 %}" alt="{{ user.username }} profile picture" class="profile-pic" />
		<div>
			<a href="{{ user.get_absolute_url }}" style="overflow: hidden">{{ user.username }}</a>
		</div>
		<div>
			<span style="font-size: 1.5em;">{{ graph.snippets_count }}</span> snippet{{ graph.snippets_count|pluralize }}
		</div>
		<div>
			<span style="font-size: 1.5em;">{{ graph.comments_count }}</span> comment{{ graph.comments_count|pluralize }}
		</div>
	</div>
	{% if user.school %}
	<div>
		{{ user.school }}
	</div>
	{% endif %}
	<div class="likes-dislikes">
		<span class="likes"><span>{{ graph.likes }}</span> like{{ graph.likes|pluralize }}</span>&nbsp;|&nbsp;<span class="dislikes"><span>{{ graph.dislikes }}</span> dislike{{ graph.dislikes|pluralize }}</span>
	</div>
	<div>
		<span style="font-weight:600;">member since {{ user.created_on|date:"N d, Y" }}</span>
	</div>
	{% ifnotequal user.id app_user.id %}
	<div class="followers">
		{% if is_follower %}
		<form action="{% url 'app_user_unfollow' user.username %}" method="post">
			{% csrf_token %}
			<a href="#" onclick="javascript:$(this).parent('form').submit(); return false;" class="unfollow">Unfollow</a>
		</form>
		{% else %}
		<form action="{% url 'app_user_follow' user.username %}" method="post">
			{% csrf_token %}
			<a href="#" onclick="javascript:$(this).parent('form').submit(); return false;" class="follow">Follow</a>
		</form>
		{% endif %}
		<span style="font-size: 1.5em;">{{ graph.followers_count }}</span> follower{{ graph.followers_count|pluralize }}
	</div>
	{% endifnotequal %}
	<div>
		Guru Score: <span style="font-size: 1.2em;">{{ graph.guru_score }}</span>
	</div>
	<div class="guru-bar" title="Guru score is {{ graph.guru_score }}">
		<span style="width: {{ graph.guru_score }}%"></span>
	</div>
	{% with badges=user.get_badges %}
	{% if user.get_badges %}
	<div class="badges">
		<h3>Badges</h3>
		<ul>
			{% for user_badge in badges %}
			<li>
				<a class="bronze" title="{{ user_badge.badge.description|striptags }}">{{ user_badge.badge.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% endwith %}
</div>
{% endwith %}
{% endblock %}

{% block title-content %}
<ul>
	<li {% if active == 'top' %}class="active"{% endif %}>
		<a href="{% url 'app_user' user.username %}">Top</a>
	</li>
	<li {% if active == 'new' %}class="active"{% endif %}>
		<a href="{% url 'app_user_new' user.username %}">New</a>
	</li>
	<li>
		{{ user.username }}
	</li>
</ul>
{% endblock %}
