@import url('style.less');

@bar-color: rgba(256,256,256,0.8);
@bar-height: 40px;

#page-bar {
    left: 0px;
    right: 0px;
    top: 0px;
    height: @bar-height;
    background: rgba(256,256,256,0.8);
    border-bottom: 4px solid @first-color;
    position: fixed;
    z-index: 99;
    padding: 5px 10px;
    .border-box; 
    
    h1 {
        text-indent: -999em;
        background-image: url('../img/codehunkit-icon.png');
        width: 40px;
        height: 27px;
        display: inline-block;
        background-size: 36px;
        background-repeat: no-repeat;
        background-color: white;        
        background-position: 2px -5px;
        float: left;
        .rounded-corners(2px);
    }
    
    #logo {
        text-indent: -999em;
        background-image: url('../img/codehunkit-logo-white.png');
        display: block;
        width: 158px;
        height: 30px;
        float: left;
        background-repeat: no-repeat;
        background-size: 86px;
        margin-left: 6px;
        margin-top: 4px;
  }
}

.box-shadow (@width) {
  box-shadow: 0 0 @width rgba(0,0,0, 0.4);
}

.center {
  margin: auto;
}

#content {
  padding-top: @bar-height;
  min-height: 500px; 
  padding-bottom: 50px;
}

.box {
  .border;
  background: white;
}

.box-center {
  .box;
  .center;
}

.action-form {
  .box-center;
  padding: 10px 30px;
  font-size: 13px;
  
  h2 {
    border-bottom: 1px solid @h-color;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }  
  
  li {
    margin: 5px 0px;
    overflow: hidden;
  }
  
  input[type="text"], input[type="password"], textarea {      
    width: 100%;    
    padding: 5px;
    background: rgba(256,256,256,0.5);
    .rounded-corners(5px;)
  }
  
  .h-list li {
    margin-right: 10px;
  }
}