* {
	padding: 0px;
	margin: 0px;
	outline: none;
	font-family: "adelle", "Ubuntu", Georgia, "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-serif;
}

body, input[type="text"], input[type="password"], textarea {
	color: #333333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 1.2em;
}

body {
	line-height: 1.3;
	font-size: 13px;
	background: url('../img/bg.jpg');
	background-position: fixed;
}

li {
	list-style-type: none;
}

a {
	color: #0091AB;
	text-decoration: none;
	font-weight: inherit;
}

a:hover {
	color: #007287;
}

h1, h2, h3, h4 {
	color: #ff4444;
	font-weight: normal;
	overflow: hidden;
	text-shadow: 0px -1px rgba(256,256,256,0.4);
}

h1 {
	font-size: 1.4em;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid;
	font-size: 1.3em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.1em;
}

label {
	font-weight: bold;
}

img {
	border: none;
}

p {
	margin: 5px 0px;
}

em {
	color: grey;
}

input[type="submit"], input[type="button"], button, .button {
	border: 0px;	
	margin-bottom: 10px;
	margin-left: 0;
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;	
	color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #f42929;
	background: -moz-linear-gradient(top,  #f42929 0%, #e62727 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f42929), color-stop(100%, #e62727)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f42929 0%, #e62727 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f42929 0%, #e62727 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f42929 0%, #e62727 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f42929 0%, #e62727 100%);
}

a.button, a:hover.button {
	color: white;
}

/* some hack to stop outline on buttons */

input[type="text"], input[type="password"], textarea {
	border: 1px solid #DDDDDD;
	color: #444;
	padding: 3px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input::-webkit-input-placeholder {
	color: #AAA !important;
	font-weight: normal !important;
}
input:-moz-placeholder {
	color: #AAA !important;
	font-weight: normal !important;
}
input::-moz-placeholder {
	color: #AAA !important;
	font-weight: normal !important;
}
input:-ms-input-placeholder {
	color: #AAA !important;
	font-weight: normal !important;
}
input:focus::-webkit-input-placeholder {
	color: transparent !important;
}
input:focus:-moz-placeholder {
	color: transparent !important;
}
input:focus::-moz-placeholder {
	color: transparent !important;
}
input:focus:-ms-input-placeholder {
	color: transparent !important;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid rgba(256,68,68, 0.5);
	transition: border 500ms;
	-webkit-transition: border 500ms;
}
