@import url('base.less');

@social-bar-color: @second-color;
@social-bar-width: 170px;

.transition(@property, @time) {
  transition: @property @time linear;
  -webkit-transition: @property @time linear;
}

.social-base {
  
  #page-bar {
      left: @social-bar-width;
      right: 0px;
  }
  
  #container {
    margin-left: @social-bar-width;      
  }
  
  .social-bar {
    height: 100%;
    position: fixed;
    width: @social-bar-width;
    overflow: hidden;
    font-size: 0.9em;
    background: @social-bar-color;  
    
    .filter {
      background: @social-bar-color;  
      position: fixed;
      bottom: 0;
      padding: 7px 0px !important; 
      width: @social-bar-width;
      overflow: hidden;
      .border-box;
      
      input[type="text"], input[type="text"]:focus {
        font-weight: 300;
        font-size: 0.9em;
        width: 80%;
        border: 0px;
        padding: 3px;
        font-size: 12px;
        padding-left: 30px;
        margin: auto;
        display: block;
        background: url('../img/sprites.png') rgba(0,0,0, 0.5) no-repeat;
        background-position: -126px -580px;
        .rounded-corners(20px);
      }
      
      input[type="text"]:focus {
        background-position: -278px -580px;
        color: white !important;
      }   
    }
      
    .inner {
        position: relative; min-height: 100%; height: 100%; padding-bottom: 60px;
        
        #scroll-div {
            position: absolute; top: 0px; right: 0px; left: 0px; padding-bottom: 60px;
            .border-box;
        }
    }
    
    img {
        width: 24px !important;
        height: 24px !important;
    }
    
    img, span { 
      float: left;
    }
    
    h4 {
      padding-left: 5px;
      margin-bottom: 5px;
    }
    
    #subs-list li {
      h3, h4 {
        padding: 10px;
        padding-left: 15px;        
      }
      
      h3   {
        background-color: rgba(0,0,0, 0.5);
        font-size: 1.1em;
      }
            
      a {
        color: white !important;
        display: block;
        overflow: hidden;  
        padding: 4px;
        padding-left: 15px;
        display: block;
      }
      
      a:hover {
        background-color: @first-color;
      }
    }
  }
  
  #content {    
    background: url('../img/bg.jpg');
    background: white;
    padding-top: 50px;
    
    .profile-bar {
      float: right;
      .border-box;
      width: 25%;
      max-width: 400px;
      min-height: 400px;
      padding: 0px 10px;
    }   
  }
}

#menu {
  float: right;  
  margin-top: 5px;  
  
  .context-menu {
    right: 10px;
  }
  
  .arrow  {
    top: 0;
    right: 0;
    left: auto;
    margin-right: 2px;
  }
  
  li.menu-item {
    float: left;
    padding-left: 10px;
    border-right: 1px solid @third-color;
    padding-right: 10px;
  }
  
  li:last-child {
    padding-right:0px;
    border-right: 0px;
  }
  
  .menu-icon {
    color: @first-color !important;
    text-transform: lowercase;
    
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
  }  
  
  #profile-messages .arrow {
    margin-right: 60px;
  }
  
  .context-menu {
    li {
      float: none;
    }
  }
}

.search-box {
  float: left;  
  
  input[type="text"] {
    padding: 4px 10px;
    .rounded-corners(10px);
    background-color: rgba(34,168,108,0.15);
    width: 300px;
    border: 0px;
    font-weight: bold;
  }
  
  input[type="text"]:focus {
    
  }
}

.submit-snippet {
  width: 600px;
  padding: 10px 30px;
  
  h2 {
    margin-bottom: 30px;
  }
  
  input[type="submit"] {
    width: auto;
  }
}


.snippets-view {
   overflow:hidden;
   padding: 0px 20px;
   
  .title-bar {    
    background: white;
    overflow: hidden;
    margin-bottom: 10px;
    .rounded-corners(2px);
    
    li {
      float: left;
      padding: 5px 15px;
    }
    
    li:last-child {
      border-left: 1px solid @border-color;
    }
  }
  
  .snippets {    
      .snippet {
        background-color: white;          
        padding:  10px 5px;
        border-bottom: 1px solid @border-color;
        
        h3 {
          color: #000;
          font-size: 1.2em;
        }
        
        :hover .snippet-shares {
          opacity: 0.6;
          filter: alpha(opacity=60);
        }
      }
      
      .snippet-content {
        overflow: hidden;
        
        .snippet-em {
          color: gray;
          font-size: 0.8em;
          text-transform: lowercase;
          
          a {
            font-weight: bold;
          }
        }
      }
      
      .votes-box {
        width: 50px;
        float: left;
        
       .votes, .up-vote, .down-vote {
         margin: 0px auto;
         clear: both;
         text-align: center;
         font-size: 18px;
       }
       
       .down-vote, .up-vote {
          background-image: url('../img/sprites.png');
          background-repeat: no-repeat;
          overflow: hidden;
          display: block;
          width: 24px;
          height: 20px;
          text-indent: -999em;
          cursor: pointer;
          .transition(background-position, 500ms);
        }
        
        .up-vote {
          background-position: -3px -34px;
         }
         
         .down-vote {
           background-position: -3px -70px;
         }
      }
      
      .tags {
        overflow: hidden;
        margin-top: 8px;
        
        li {
          float: left;
        }
        
        a {          
          padding: 2px 5px;          
          margin-right: 10px;
          background-color: #EFEFEF;
          display: block;
        }
        
        li:first-child {
          a, a:hover {
            background-color: @third-color;
            color: white;
          }
        }
      }
   }   
}

.snippet-shares {      
  height: 18px;
  margin: 2px;
  float: right;
  overflow: hidden;
  width: 66px;
  opacity: 0;
  filter: alpha(opacity=0);
  .transition(filter, 200ms);  
  .transition(opacity, 200ms);
      
  [data-action] {
    background-image: url('../img/sprites.png');
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    text-indent: -9999em;
    overflow: hidden;    
    margin-left: 4px;
    position: absolute;    
  }
  
  [data-action]:hover {
    
  }
  
  [data-action="share:twitter"] {
    background-position: -3px -584px;
  }
  
  [data-action="share:facebook"] {
    background-position: -21px -584px;
  }
  
  [data-action="share:googleplus"] {
    background-position: -39px -584px;
  }
}