@import url('base.less');

@social-bar-color: @second-color;
@social-bar-width: 170px;

.transition(@property, @time) {
  transition: @property @time linear;
  -webkit-transition: @property @time linear;
}

.social-base {
  
  #page-bar {
      left: @social-bar-width;
      right: 0px;
  }
  
  #container {
    margin-left: @social-bar-width;      
  }
  
  .social-bar {
    height: 100%;
    position: fixed;
    width: @social-bar-width;
    overflow: hidden;
    font-size: 0.9em;
    background: @social-bar-color;  
    
    .filter {
      background: @social-bar-color;  
      position: fixed;
      bottom: 0;
      padding: 7px 0px !important; 
      width: @social-bar-width;
      overflow: hidden;
      .border-box;
      
      input[type="text"], input[type="text"]:focus {
        font-weight: 300;
        font-size: 0.9em;
        width: 80%;
        border: 0px;
        padding: 3px;
        font-size: 12px;
        padding-left: 30px;
        margin: auto;
        display: block;
        background: url('../img/sprites.png') rgba(0,0,0, 0.5) no-repeat;
        background-position: -126px -580px;
        .rounded-corners(20px);
      }
      
      input[type="text"]:focus {
        background-position: -278px -580px;
        color: white !important;
      }   
    }
      
    .inner {
        position: relative; min-height: 100%; height: 100%; padding-bottom: 60px;
        
        #scroll-div {
            position: absolute; top: 0px; right: 0px; left: 0px; padding-bottom: 60px;
            .border-box;
        }
    }
    
    .user-info {
      margin: 5px 0px;
    }
    
    img {
        width: 24px !important;
        height: 24px !important;
        float: left;
    }
    
    span { 
      margin: 5px 0px 0px 10px;
      display: block;
      float: left;  
    }
    
    h4 {
      padding-left: 5px;
      margin-bottom: 5px;
    }
    
    #subs-list li {
      h3, h4 {
        padding: 5px;
        padding-left: 15px;
        margin: 5px 0px;        
      }
      
      h3   {
        background-color: rgba(0,0,0, 0.5);
        font-size: 1.1em;
      }
            
      a {
        color: white !important;
        display: block;
        overflow: hidden;  
        padding: 4px;
        padding-left: 15px;
        display: block;
      }
      
      a:hover {
        background-color: @first-color;
      }
    }
  }
  
  #content {    
    background: url('../img/bg.jpg');
    background: white;
    padding-top: 50px;
    
    .profile-bar {
      float: right;
      .border-box;
      width: 25%;
      max-width: 400px;
      min-height: 400px;
      padding: 0px 10px;
    }   
  }
}

.progress-img {
  width: 45px;
  height: 3px;
  background-image: url('../img/progress-img.gif');
  background-repeat: no-repeat;
  background-size: 45px 4px;
  display: none;
}

.submit-snippet {
  width: 800px;
  padding: 10px 30px;
  
  h2 {
    margin-bottom: 30px;
  }
  
  input[type="submit"] {
    width: auto;
  }
}


.tags {
  overflow: hidden;
  margin-top: 8px;
  
  li {
    float: left;
  }
  
  a {          
    padding: 2px 5px;          
    margin-right: 10px;
    background-color: #EFEFEF;
    display: inline-block;
  }
}

.badges {
  overflow: hidden;
  margin-top: 8px;
  
  h3 {
    color: @text-color;
    padding: 5px 0px;
    border-bottom: 1px dotted @first-color;
    margin: 10px 0px;
    font-size: 1.2em;
  }
  
  a {          
    padding: 2px 5px;          
    margin-right: 10px;
    background-color: @second-color;
    color: white !important;
    display: inline-block;
    .rounded-corners(3px);
  }
  
  a.bronze {
    border-left: 8px solid #cc9966;
  }
  
  a.silver {
    border-left: 8px solid #c5c5c5;
  }
  
  a.gold {
    border-left: 8px solid #ffcc00;
  }
}

.votes-box {
  width: 50px;
  float: left;
  
 .votes, .up-vote, .down-vote {
   margin: 0px auto;
   clear: both;
   text-align: center;
   font-size: 18px;
 }
 
 .down-vote, .up-vote {
    background-image: url('../img/sprites.png');
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 24px;
    height: 20px;
    text-indent: -999em;
    cursor: pointer;
    .transition(background-position, 500ms);
  }
  
   .up-vote {
     background-position: -3px -34px;
   }
   
   .up-vote.on {
     background-position: -3px 0px;
   }
   
   .down-vote {
     background-position: -3px -70px;
   }
   
   .down-vote.on {
     background-position: -3px -101px;
   }
}

.lang, .lang:hover {
  background-color: @third-color !important;
  color: white;
  padding: 2px 5px;
  display: inline-block;
}

.content-view {
   overflow:hidden;
   padding: 0px 20px;
  
  .title-bar {    
    background: white;
    overflow: hidden;
    margin-bottom: 10px;
    .rounded-corners(2px);
    
    li {       
       float: left;
       padding: 5px 15px;
      
      li.active {
        background: #22a86c !important;
        color: white;
      }
    }
    
    li:last-child {
      border-left: 1px solid @border-color;
    }
  }
  
    
      .snippet {
        overflow: hidden;
        background-color: white;          
        padding:  10px 5px;
        border-bottom: 1px solid @border-color;
        
        h3 {
          color: #000;
          font-size: 1.2em;
        }
        
        .tags {        
          li:first-child {
            a, a:hover {
             .lang;
            }
          }
        }
      }
      
      .snippet-content {
        overflow: hidden;
        
        .snippet-em {
          color: gray;
          font-size: 0.8em;
          text-transform: lowercase;
          
          a {
            font-weight: bold;
          }
        }
        
        .snippet-comments {         
          margin-top: 10px;
          
          a:after {
            position: absolute;
            padding-left: 3px;
            content: "\2192";
          }
        }
      }
   
}

.snippet:hover .snippet-shares {
  opacity: 0.6 !important;
  filter: alpha(opacity=60) !important;
}

.snippet-code-container {  
  margin: 10px 0px;
 
  .snippet-code {    
    font-family: monospace;
    border: 4px solid #eee;
    max-height: 400px;
    line-height: 1.5em;
    overflow: auto;
    width: 100%;
    height: 100%;
    .border-box;
    
    .line-number {
      background-color: #eee;
      padding: 10px 5px;
      text-align: right;
      float: left;
      
      span {
        clear: both;
        display:block;
      }
    }
    
    pre {
      padding: 10px 35px;
    }
  }
}

.snippet-shares {      
  height: 18px;
  margin: 2px;
  float: right;
  overflow: hidden;
  width: 66px;
  opacity: 0;
  filter: alpha(opacity=0);
  .transition(filter, 200ms);  
  .transition(opacity, 200ms);
      
  [data-action] {
    background-image: url('../img/sprites.png');
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    text-indent: -9999em;
    overflow: hidden;    
    margin-left: 4px;
    position: absolute;    
  }
  
  [data-action]:hover {
    
  }
  
  [data-action="share:twitter"] {
    background-position: -3px -584px;
  }
  
  [data-action="share:facebook"] {
    background-position: -21px -584px;
  }
  
  [data-action="share:googleplus"] {
    background-position: -39px -584px;
  }
}

.code-view {
  .snippet {
    padding: 5px 0px;
      
    .snippet-gist {
      float: left;    
    }
  }
}

.profile-bar {
  .profile-card {
     img {
       float: left;
       margin-right: 10px;
     }
    
     div {
       margin: 10px 0px;
       overflow: hidden;
     }
     
     .votes-box {
       width: auto;
       margin: 0px 10px 0px 0px;
       
       div {
        margin: 0px;
       }
     }
     
      .likes-dislikes {
        font-size: 0.8em;
        
        .likes {
          color: green;
        }
        
        .dislikes {
          color: red;
        }
      }
    
    .guru-bar {
      width: 80%;
      height: 10px;
      position: relative;  
      border: 1px solid @first-color;
      .rounded-corners(2px);
      
      span {
        background-color: @first-color;
        height: 10px;
        position: absolute;
        .rounded-corners(2px);
      }     
     
    }
    
    .followers, .subscribers {
      form {
        display: inline-block;
        margin: 5px 10px 5px 0px;
        
        .follow, .unfollow, .subscribe, .unsubscribe {
          padding: 4px 10px; 
          color: white !important;
          .rounded-corners(2px);
        }
        
        .follow, .subscribe {          
          background: green;
          color: white !important;          
        }
        
        .unfollow, .unsubscribe {
          background: red;
          color: white !important;
        }
        
        .description {
          border-top: 1px solid @border-color;
          padding: 10px 0px;
        }
      }
    }
  }
}

.comments {
  margin-top: 20px;
  
  .view-all-comments {
    border: 1px solid @border-color;
    padding: 5px;
    margin-bottom: 10px;
    display: block;
  }
  
  .comment-reply {
   display: none;
   clear: both;
   margin-top: 5px;
   margin-bottom: 10px;
        
    textarea {
      width: 100%;
      max-width: 100%;
      height: 60px;
      font-size: 1em;
      padding: 5px;      
    }
    
    input[type="submit"], input[type="button"] {
      float: right;
      margin-left: 5px;
      padding: 3px 8px;
      margin-right: 2px;
      margin-top: 5px;
      font-size: 0.9em;
    }
  }
  
  .comment-cotent {
    overflow: hidden;
  }
  
  .comment-links {
    a {
      font-size: 0.9em;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  
  .comment-reply-link, .comment-reply-link:hover {
    color: #ff4444 !important;
    font-weight: bold;
  }
  
  .votes-box {
    margin-right: 5px;
    width: 27px;
    margin-top: 4px;
  }
  
  .up-vote, .votes, .down-vote {
    font-size: 10px;
  }
  
  .up-vote, .down-vote {
    width: 15px;
    height: 12px;
  }
  
  .up-vote {
    background-position: -6px -146px;
  }
  
  .down-vote {
    background-position: -6px -161px;
  }
  
  .up-vote.on {
    background-position: -6px -127px;
  }
  
  .down-vote.on {
    background-position: -6px -180px;
  }
  
  .comment-replies {
    clear: both;
    overflow: hidden;
    border-left: 1px dotted rgba(256,0,0, 0.2);
    margin-top: 10px;
    margin-left: 32px;
    padding-left: 5px;
  }
}