@caption-color: #ff4444;
@h-color: @caption-color;
@h-font-size: 1em;
@a-color: #0091AB;
@a-color-hover: #007287; 
@text-color: #333333;
@text-hint-color: gray; 
@button-text-color: white;

.rounded-corners (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
	padding: 0px;
	margin: 0px;
	outline: none;
	font-family: "adelle", "Ubuntu", Georgia, "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", sans-serif; 
}

body, input[type="text"], input[type="password"], textarea {
	color: @text-color;	
	font-size: 1.2em;
}

body {
	line-height: 1.3;
	font-size: 13px;
}

li {
	list-style-type: none;
}

a {
	color: @a-color;
	text-decoration: none;
}

a:hover {
	color: @a-color-hover;
}

h1, h2, h3, h4 {
	color: @h-color;
	font-weight: normal;
	overflow: hidden;	
}

h4 { font-size: @h-font-size; }
h3 { font-size: (@h-font-size + 0.1); }
h2 { font-size: (@h-font-size + 0.2); }
h1 { font-size: (@h-font-size + 0.3); }

label { font-weight: bold; }

img { border: none; }

p { margin: 5px 0px; }

em { color: @text-hint-color; }

.button {
  border: 0px;  
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;  
  color: @button-text-color;
}

input[type="submit"], input[type="button"], button   {
	.button;
}

a.button, a:hover.button {
	color: @button-text-color;
}

input[type="text"], input[type="password"], textarea {
	.border-box;
}

.placeholder {
  color: #AAA !important;
  font-weight: normal !important;
}

input::-webkit-input-placeholder { .placeholder; }
input:-moz-placeholder { .placeholder; }
input::-moz-placeholder { .placeholder; }
input:-ms-input-placeholder { .placeholder; }
