@first-color: #22a86c;
@second-color: #234057;
@h-color: @first-color;
@h-font-size: 1em;
@a-color: #0091AB;
@a-color-hover: #007287; 
@text-color: #333333;
@text-hint-color: gray; 
@button-color: @first-color;
@button-text-color: white;
@border-color: #ddd;
@bg-color: #3F4649;
@error-color: #ff4444;

.rounded-corners (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.border {
  border: 1px solid @border-color;
}

* {
	padding: 0px;
	margin: 0px;
	outline: none;
	font-family: "Ubuntu", "Segoe UI", "Segoe WP", Helvetica, "Lucida Grande", Georgia, sans-serif;	 
}

body, input[type="text"], input[type="password"], textarea, label {
	color: @text-color;
	font-size: 12px;
}

html, body {
	line-height: 1.3;	
	height: 100%;	
	background: @bg-color;
}

input[type="text"], input[type="password"], textarea {
  .border;
  overflow: hidden;
}

li {
	list-style-type: none;
}

a {
	color: @a-color;
	text-decoration: none;
}

a:hover {
	color: @a-color-hover;
}

h1, h2, h3, h4 {
	color: @h-color;
	font-weight: normal;
	overflow: hidden;	
}

h4 { font-size: @h-font-size; }
h3 { font-size: (@h-font-size + 0.1); }
h2 { font-size: (@h-font-size + 0.2); }
h1 { font-size: (@h-font-size + 0.3); }

label { font-weight: bold; }

img { border: none; }

p { margin: 5px 0px; }

em { color: @text-hint-color; }

.button {
  border: 0px;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;  
  color: @button-text-color;
  background: @button-color;
}

input[type="submit"], input[type="button"], button {
	.button;
}

a.button, a:hover.button {
	color: @button-text-color;
}

input[type="text"], input[type="password"], textarea {
	.border-box;
}

.placeholder {
  color: #AAA !important;
  font-weight: normal !important;
}

input::-webkit-input-placeholder { .placeholder; }
input:-moz-placeholder { .placeholder; }
input::-moz-placeholder { .placeholder; }
input:-ms-input-placeholder { .placeholder; }

footer {
  border-bottom: 10px solid @first-color; 
}

.errorlist {
  color: @error-color;
  clear: both;
  
  li {
    margin: 5px 0px !important;
  }
}

.message {
  color: @second-color;
}

.error_message {
  color: @error-color;
}

.h-list {
  li {
    float: left;
  }
}
