{% extends "app/email/base.html" %}

{% block content %}
<p>
	Thank you for joining us and becoming a member of our community.
</p>
<p>
	I am community manager at Codehunkit and goes by name of <a href="http://codehunkit.rootplugin.com/user/mysteryjeans">mysteryjeans</a>. You can view my profile at <a href="http://codehunkit.rootplugin.com/user/mysteryjeans">http://codehunkit.rootplugin.com/user/mysteryjeans</a>
</p>
<p>
	People can see your profile too! on this link <a href="http://codehunkit.rootplugin.com/user/{{ user.username }}">http://codehunkit.rootplugin.com/user/{{ user.username }}</a>. Please be open to express yourself on TangleOn and feel free to ask me questions on <a href="http://www.tangleon.com/tag/@Team">@Team</a> by submitting a new text post or simply comment.
</p>
<p>
	<b>We are growing...so our community members with you!</b>
</p>
{% endblock %}

{% block footer %}
<p>
	See yaa,
	<br/>
	mysteryjeans.
</p>
{% endblock %}
