{% extends "app/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div id="content" class="action-form action-form-center" style="width: 650px">
	<h2>Error</h2>
	<div style="margin-top: 20px; font-size:1.1em">
		<p>
			Site is experiencing some technical difficulties. We apologize for any inconvenience!
			<br />
			<br />
		</p>
		<p class="message-box">
			
			We have also recieved an alert for this error and will do our best to fix it soon.
		</p>
	</div>
</div>
{% endblock %}